<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Minha página com Vue</title>
        <script src="https://unpkg.com/vue"></script>
    </head>

    <body>

        <div id="app">
            {{ msg }}
            <p v-bind:title="titulo">Teste com Title</p>
            <p v-if="condicao">Teste com IF</p>
            <p v-for="registro in registros">{{registro.titulo}}</p>
            <button v-if="clicou" v-on:click="usuarioClicou">Salvar</button>
            <button v-if="!clicou" v-on:click="usuarioClicou">Aguarde...</button>
            <p>
                <input type="text" v-model="usuario.nome">
            </p>
            
            <p>Nome: {{ usuario.nome }}</p>
        </div>

        <script type="text/javascript">

            var app = new Vue({
                el:"#app",
                data:{
                    msg: 'Iniciando com Vue JS',
                    titulo:"Teste com v-Bind",
                    condicao: true,
                    registros:[
                        {titulo:'resgistro1'},
                        {titulo:'resgistro2'},
                        {titulo:'resgistro3'},
                        {titulo:'resgistro4'},
                        {titulo:'resgistro5'}
                    ],
                    clicou: true,
                    usuario: {nome: ""}
                },
                methods: {
                    usuarioClicou: function(){
                        this.clicou = !this.clicou;
                    }
                }
            });
        </script>
    </body>
</html>